.hero {
  background: linear-gradient(
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)
    ),
    url("https://images.unsplash.com/photo-1490481651871-ab68de25d43d") center/cover;
  height: 70vh;
  display: flex;
  align-items: center;
  color: white;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
}

.hero-content p {
  margin: 16px 0;
  font-size: 20px;
}

.shop-btn {
  background: #2b6cb0;
  padding: 12px 24px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.shop-btn:hover {
  background: #1e4e89;
}
